@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-family: 'Roboto', sans-serif;
  background-color: #e9f5fd;
  color: #1A202C;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}